.days_row {
  max-width: 2000px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f1f3f5;
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid #e5e8eb;
  font-family: 'Noto Sans KR', sans-serif;
  color: #6b7684;
  box-sizing: border-box;
}

.day {
  padding: 8px 0;
  box-sizing: border-box;
}