.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  background-color: #fffcfb; /* dashboard-color */
  gap: 40px;
}

.App_main {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}